//Color oscuro
$dark-blue: #002d6f;
//Color de resalte.
$light-blue: #4f9ae1;

.all{
  min-height: 80%;
}

.load{
  margin:30%;
  margin-left: 45%;
}

.lista{
  margin-left: 6%;
  display: block;
  position: relative;
/* flex-direction: row; */
  overflow: auto;

  max-width: 100%;
  max-height: 100%;

  justify-content: center;
  align-items: center;
  // background-color: red;

}

.title{
  font-size: 35px;
  color: $dark-blue;
  font-weight: 600;
  margin-left: 5%;
  margin-top: 2%;
}

.card{
  margin: 1%;
  float: left;
  position: relative;

}
