<div class="card">
  <div class="top_card">
    <p class="title">{{add.name}}</p>
    <p class="subtitle">{{add.category}}</p>
  </div>
  <div class="mid_part">
    <!-- <p>{{add.picture}}</p> -->
    <img class="icon" src="{{add_picture}}" alt="Imagen {{add.name}}">
  </div>
  <p>{{add.owner_name}}</p>
  <p>{{add.price}}</p>
  <div class="botton_part">
    <p class="location">{{add.location}}</p>
    <p class="date">{{add.creation_date}}</p>
    <button class="button" mat-raised-button (click)="goToService()">+ INFO</button>
  </div>

</div>
