//Color oscuro
$dark-blue: #002d6f;
//Color de resalte.
$light-blue: #4f9ae1;

// Padding por defecto de los elementos
$default-padding: 5px;

// Color de la fuente por defecto
$fount-color: $dark-blue;

.card{
  border: solid 3px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 250px;
  // font-family: "Helvetica Neue"; //no parece que funcione
  font-weight: 500;
  position: relative;
  color: $fount-color;
}

.top_card{
  // background-color: red;
  line-height: 10px;
  height: 20%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mid_part{
  // background-color: blue;
  height: 55%;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
}

.botton_part{
  // background-color: green;
  height: 25%;
  width: 100%;
  position: relative;
}

.button{
  position: absolute;
  bottom: 8%;
  right: 3%;
  color: white;
  background-color: $dark-blue;
}

.date{
  position: absolute;
  left: 4%;
  bottom: 2%;
}

.location{
  margin-top: 3%;
}

.title{
  font-size: 25px;
  margin: 0;
  position: absolute;
  top: 25%;
}

.subtitle{
  margin: 0;
  bottom: 0;
  position: absolute;
  top: 60%;
  color: $light-blue;
}

.icon{
  width: 150px;
  max-height: 150px;
  border: solid 3px;
  border-color: $dark-blue;
  border-radius: 10px;
}
