//Color oscuro
$dark-blue: #002d6f;
//Color de resalte.
$light-blue: #4f9ae1;

// Padding por defecto de los elementos
$default-padding: 5px;

// Color de la fuente por defecto
$fount-color: $dark-blue;

// clase para los textos del MAIN
.text{
  padding: $default-padding;
  color: $fount-color;
  font-size: 30px;
  // font-family: "Helvetica Neue";
  font-weight: 550;
  text-align: center;
  line-height: 37px;
}

.title{
  padding: $default-padding;
  color: $light-blue;

  font-size: 45px;
  font-weight: 550;
  text-align: center;
  line-height: 25px;
}
#text_white{
  color: white;
}

.main{
  // color = $light-blue;
  position: relative;
  // background-color: $light-blue;
  height: 1200px;
  display: flex;
  flex-direction: column;
}

.bloque_main{
  position: relative;
  // background-color: red;
  // margin-top: 1%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#ultimo_bloque{
  height: 20%;
}

.bloque_dcho{
  position: absolute;
  right: 13%;
  // background-color: green;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-right: 2%;
}

.bloque_izqdo{
  position: absolute;
  left: 13%;
  height: 100%;
  // background-color: yellow;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-right: 2%;
}

.boton{
  background-color: $dark-blue;
  width: 55%;
  height: 11%;
  border-radius: 30px;
  padding-top: 3%;
  // padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  cursor: pointer;
}
.boton:hover{
  background-color: $light-blue;
}

.icon_big{
  height: 370px;
  width: auto;
}

.big_img{
  height: 295px;
  width: auto;
}
