<div class="header">

  <div class="titleBox">
    <img routerLink="" class="logo" src="../assets/logos/h3lp-me-logo-circle.png" alt="Logo de H3lp Me">

    <h2 class="title">H3lp Me</h2>
  </div>


  <div class="rightPos" *ngIf="getGlobalUser() == undefined">
    <button class="button" mat-raised-button (click)="abrirIniciarRegistro()">Registrarse</button>
    <button class="button" mat-raised-button (click)="abrirIniciarSesion()">Iniciar Sesión</button>
  </div>

  <button mat-raised-button (click)="cerrarSesion()">Cerrar Sesión(Temporal)</button>

  <mat-card class="profile" *ngIf="getGlobalUser() != undefined">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" (click)="irPerfil()"></div>
      <mat-card-title>Nombre de Usuario</mat-card-title>
      <mat-card-subtitle>Level 12</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <br><br>

</div>
<app-searcher></app-searcher>
