// Tamaño de alto del header
$header-height: 100px;

//Tamaño de los iconos
$icon-size: 30px;

// Padding por defecto de los elementos
$default-padding: 5px;

//Tamaño de la fuente del título
$title-font-size: 45px;

// Padding por defecto de los elementos
$default-padding: 5px;

$primary-color: #002d6f;
$secundary-color: #4f9ae1;

$text-color: white;

$contrast-color: white;

.icon{
  width: $icon-size;
  height: auto;
  padding: $default-padding;
}

#settings{
  position: absolute;
  right: 7.5px;
  color: white;
  cursor: pointer;
}


.header{
  background-color: $primary-color;
  display: inline-flex;
  width: 100%;
  position: relative;
  height: 14%;
}

// Div que contiene el logo y el título
.titleBox{
  width: 30%;
  position: relative;
}

// Clase para el logo
.logo{
  width: 25%;
  height: auto;
  padding: $default-padding;
}

.title{
  position: absolute;
  top: 27%;
  //top: $header-height/2 - $title-font-size/3;
  font-size: 400%;
  //left: $header-height + $title-font-size;
  left: 30%;
  color: $text-color;
  margin-top: 2%;
}

.rightPos{
  position: absolute;
  right: 1%;
  top: 27%;
}

.button{
  background-color: $contrast-color;
  margin: 15px;
  border-radius: 20px;
  height: 35px;
  text-align: center;
  justify-content: center;
  align-items: center;

}

//Texto de  los botones

.log_text{
  margin-top: 0%;
  text-align: center;
  font-weight: bold;
  background: -webkit-linear-gradient(to right, $primary-color, $secundary-color);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,$primary-color, $secundary-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


.profile {
  @extend .rightPos;
  background-color: $primary-color;
  width: 15%;
  top: 15%;
  height: 40%;

}

.example-header-image {
  background-size: cover;
}

.example-header-image:hover{
  cursor: pointer;
  
}

.hyperlink{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}


.userText{
  color: $text-color;
}
.userText:hover{
  cursor: pointer;
}
