<app-lista nombre1 = {{namelist1}} nombre2 = {{namelist2}} (cambios) = "update($event);">
<app-elem-lista id = 1 value = "Comunidad de Madrid"></app-elem-lista>
<app-elem-lista id = 1 parent = 1 value = "Madrid"></app-elem-lista>
<app-elem-lista id = 2 value = "Galicia"></app-elem-lista>
<app-elem-lista id = 1 parent = 2 value = "A Coruña"></app-elem-lista>
<app-elem-lista id = 2 parent = 2 value = "Lugo"></app-elem-lista>
<app-elem-lista id = 3 parent = 2 value = "Ourense"></app-elem-lista>
<app-elem-lista id = 4 parent = 2 value = "Pontevedra"></app-elem-lista>
<app-elem-lista id = 3 value = "Cataluña"></app-elem-lista>
<app-elem-lista id = 1 parent = 3 value = "Lleida"></app-elem-lista>
<app-elem-lista id = 2 parent = 3 value = "Girona"></app-elem-lista>
<app-elem-lista id = 3 parent = 3 value = "Barcelona"></app-elem-lista>
<app-elem-lista id = 4 parent = 3 value = "Tarragona"></app-elem-lista>
</app-lista>


{{namelist1}}: {{value1}}
<br>
{{namelist2}}: {{value2}}
<br><br>

<button type="button" (click)="displayInfo();">Info</button>
