<div class="footer">

  <div class="bot-footer">

    <div class="block-footer">
      <img class= "icon" src="../assets/iconos/about-us.svg" alt="Icono de Sobre Nosotros">
      <p class="text">Sobre Nosotros</p>
    </div>

    <div class="block-footer">
      <p class="text">H3lp Me 2020</p>
      <img class= "small-icon" src="../assets/iconos/copyright.svg" alt="copyright">
    </div>

  </div>


  <p class="text">Autores:</p>

  <div class="authors">
    <a class="author" href="https://github.com/alejanpa17">
      <p>Alejandro Parrado Rivas</p>
      <img class="icon" src="./assets/iconos/github.svg" alt="Icono de GitHub">
    </a>

    <a class="author" href="https://github.com/Ic3Style">
      <p>Adrián Sanz Gómez</p>
      <img class="icon" src="./assets/iconos/github.svg" alt="Icono de GitHub">
    </a>

    <a class="author" href="https://github.com/Pheithar">
      <p>Alejandro Valverde Mahou</p>
      <img class="icon" src="./assets/iconos/github.svg" alt="Icono de GitHub">
    </a>

    <a class="author" href="https://github.com/100383414">
      <p>Andrés Vinagre Blanco</p>
      <img class="icon" src="./assets/iconos/github.svg" alt="Icono de GitHub">
    </a>
  </div>


  <div class="referency">
    <p>Icono de GitHub</p>
    <img class="icon" src="./assets/iconos/github.svg" alt="Icono de GitHub">

    <p>e icono de copyright</p>
    <img class="small-icon" src="./assets/iconos/copyright.svg" alt="Icono de copyright">

    <p>
      hecho por <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> y subido a <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </p>
  </div>

</div>
