<div class="footer">
  <div class="bot-footer" id="bot-left">
    <div class="block-footer">
      <img class= "icon" src="../assets/iconos/about-us.svg" alt="Icono de Sobre Nosotros">
      <p class="text">Sobre Nosotros</p>
    </div>

    <div class="block-footer">
      <img class= "icon" src="../assets/iconos/copyright.svg" alt="copyright">
      <p class="text">H3lp Me 2020</p>
    </div>
    <div class="block-footer">
      <p>
        Logos provenientes de <br> <a href="https://www.flaticon.com/" title="Flaticon" style="color: white" target="_blank"> www.flaticon.com</a>
      </p>
    </div>
  </div>
  <div class="bot-footer">
  <img routerLink=""  id= "logofooter" src="../assets/logos/logo2.png" alt="Logo de H3lp Me">
  </div>
  <div class="bot-footer" id="bot-right">
    <div class="block-footer" id="authors">
        <a class="author" href="https://github.com/alejanpa17" target="_blank">
          <img class="icon" src="./assets/iconos/github.svg" alt="Icono de GitHub">
          <p>Alejandro Parrado<br> Arribas</p>
        </a>

        <a class="author" href="https://github.com/Ic3Style" target="_blank">
          <img class="icon" src="./assets/iconos/github.svg" alt="Icono de GitHub">
          <p>Adrián Sanz <br>Gómez</p>
        </a>

        <a class="author" href="https://github.com/Pheithar" target="_blank">
          <img class="icon" src="./assets/iconos/github.svg" alt="Icono de GitHub">
          <p>Alejandro Valverde<br> Mahou</p>
        </a>

        <a class="author" href="https://github.com/100383414" target="_blank">
          <img class="icon" src="./assets/iconos/github.svg" alt="Icono de GitHub">
          <p>Andrés Vinagre <br>Blanco</p>
        </a>

      <!-- <p class="text">Autores</p> -->
    </div>
  </div>


  <!-- <p class="text">Autores:</p>

  <div class="authors">
    <a class="author" href="https://github.com/alejanpa17" target="_blank">
      <p>Alejandro Parrado Rivas</p>
      <img class="icon" src="./assets/iconos/github.svg" alt="Icono de GitHub">
    </a>

    <a class="author" href="https://github.com/Ic3Style" target="_blank">
      <p>Adrián Sanz Gómez</p>
      <img class="icon" src="./assets/iconos/github.svg" alt="Icono de GitHub">
    </a>

    <a class="author" href="https://github.com/Pheithar" target="_blank">
      <p>Alejandro Valverde Mahou</p>
      <img class="icon" src="./assets/iconos/github.svg" alt="Icono de GitHub">
    </a>

    <a class="author" href="https://github.com/100383414" target="_blank">
      <p>Andrés Vinagre Blanco</p>
      <img class="icon" src="./assets/iconos/github.svg" alt="Icono de GitHub">
    </a>
  </div>


  <div class="referency">
    <div class="referency-group">
      <p>Icono de GitHub,</p>
      <img class="icon" src="./assets/iconos/github.svg" alt="Icono de GitHub">
      <p>icono de settings,</p>
      <img class="icon" src="./assets/iconos/settings.svg" alt="Icono de settings">
      <p>icono de coins</p>
      <img class="icon" src="./assets/iconos/coin.svg" alt="Icono de Moneda">
      <p>e icono de copyright</p>
      <img class="small-icon" src="./assets/iconos/copyright.svg" alt="Icono de copyright">

      <p>
        hecho por <a href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a> y subido a <a href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a>
      </p>

      Icono de premiun <img class="icon" src="./assets/iconos/premium.svg" alt="Icono de Premium"> <a href="https://www.flaticon.com/authors/itim2101" title="itim2101">itim2101</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </div>

    <p>Varios componenetes sacados de <a href="https://material.angular.io/" target="_blank">Angular Material</a></p>
  </div> -->

</div>
