
<button mat-raised-button routerLink="services">IR A SERVICIOS</button>

<mat-form-field>
  <mat-label class="writeService">Busca un servicio</mat-label>
  <input matInput type="text" [(ngModel)]="value">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<button mat-button  class= "searcher">Buscar</button>
<button mat-button class= "categories">Fotografía</button>
<button mat-button class= "categories">Informática</button>
<button mat-button class= "categories">Cocina</button>
<button mat-button class= "categories">Hogar</button>
<button mat-button class= "categories">Otros</button>


<hr>
