

<div *ngIf="loaded">
  <h1>{{add.name}}</h1>
  <h2>{{add.owner_name}}</h2>
  <h3>{{add.category}}</h3>
  <p>{{add.description}}</p>
  <p>{{add.location}}</p>
  <p>{{add.creation_date}}</p>
  <img class="icon" src="{{add_picture}}" alt="Imagen {{add.name}}">

  <p *ngIf="correct">Se ha solicitado el servicio correctamente</p>
  <p *ngIf="repeat">El servicio ya estaba solicitado</p>
  <button mat-raised-button (click)="solicitar()" [disabled]="global.getCurrentUser()  ? 'false' : 'true'" *ngIf="global.getCurrentUser().username != add.owner_name">Solicitar Servicio</button>
  <p *ngIf="global.getCurrentUser() == undefined">
    Registrate o inicia sesión para poder solicitar servicios
  </p>

</div>

<!-- <div *ngIf="!loaded"> -->
  <div>

  <mat-spinner></mat-spinner>
</div>
