<h1>Cambiar contraseña</h1>
<p>Contraseña actual: {{password}}</p>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="new_password" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-error *ngIf="new_password != undefined && new_password.length < 6">La contraseña debe tener al menos 6 caracteres</mat-error>
</div>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Repetir Contraseña</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="repeat_new_password" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-error *ngIf="new_password != repeat_new_password && new_password!= undefined && repeat_new_password != undefined">Las contraseñas no coinciden</mat-error>

  <button mat-raised-button (click)="confirm(new_password)" [disabled]="new_password && repeat_new_password ? 'false' : 'true'">Cambiar Contraseña</button>

</div>
