$primary-color: #002d6f;
$secundary-color: #4f9ae1;

$title-fontsize: 50px;

//Tamaño de los iconos
$icon-size: 20%;

// Padding por defecto de los elementos
$default-padding: 10px;

// Clase para todo el componenete
.profile{
  min-height: 80%;
  height: auto;
}

// Clase para los elemnetos del usuario
.userCard{
  width: 25%;
  border: 3px solid $primary-color;
  border-radius: 50px;
  position: absolute;
  right: 0;
  margin-top: 5%;
  margin-right: 15%;
  padding: $default-padding;
  min-height: 250px;
}

.userHeader{
  width: 100%;
}
.username{
  text-align: center;
  position: absolute;
  top: 2%;
  left: $icon-size;
  width: 100% - $icon-size - 8%;
  padding: 20px;
  height: $title-fontsize + 30;
  font-size: $title-fontsize;
  overflow: hidden; /* make sure it hides the content that overflows */
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis; /* give the beautiful '...' effect */
}

// Clases para las distintas imágenes delñ perfil
.icon{
  width: $icon-size;
  height: $icon-size;
  padding: $default-padding;
}

.coin-img{
  @extend .icon;
  width: $icon-size/3;
}

.h3lper-img{
  @extend .icon;
  width: $icon-size/2;
}

.coins{
  position: absolute;
  top: 60px;
  width: 100;
  text-align: center;
}
.coins p{
  display: inline;
  position: absolute;
  top: 15px;
  font-size: $title-fontsize / 2;
}

.h3lper-img{
  position: absolute;
  left: 50%;
  top: 100px;
}

//Clase para el conjunto del nivel del usuario
.userLevel{
  display: inline-flex;
  width: 85%;
  padding-left: 15%;
  position: relative;
}

.userLevel p{
  top: 5px;
  font-size: $title-fontsize / 2;
  position: absolute;
}

// Clase para la barra de progreso
.progressBar{
  margin-left: 5%;
  width: 50%;
  height: 25px;
  border-radius: 13px;
  left: 135px;
  position: absolute;
}

// Clase para los servicios de los anuncios
.service{
  width: 45%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.ofrecidos{
  display: flex;
  flex-wrap: wrap;
  width: 55%;
}

.solicitados{
  @extend .ofrecidos;
}


























// https://fireship.io/lessons/star-ratings-system-with-firestore/


fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

// .rating > input:checked + label:hover,
// .rating > input:checked ~ label:hover,
// .rating > label:hover ~ input:checked ~ label,  selection
// .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

// #############################################################################

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .contenedor-formulario {
    width: 400px;
  }

  .download {
    background: #1081ff;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-bottom: 20px;
    a {
      text-decoration: underline;
      color: #FFFFFF;
    }
  }
}
