<div *ngIf="loaded" class="profile">

  <div class="userCard">
    <div class="userHeader">
      <img class="icon" src="{{user_picture}}" alt="Imagen de usuario" (click)="updateImage()" matTooltip="Haz click en la imagen para cambiarla">

      <p class="username">{{user.username}}</p>

      <div class="coins">
        <img class="coin-img" src="./assets/iconos/coin.svg" alt="Icono de de h3lpcoins">
        <p>{{user.coins}}</p>
      </div>
      <img class="h3lper-img" *ngIf="user.h3lper" src="./assets/iconos/premium.svg" alt="Icono de Premium" matTooltip="Este usuario es un h3lper">
    </div>
    <br><br>
    <div class="userLevel">
      <p>Nivel {{user.level}}</p>
      <mat-progress-bar class="progressBar" mode="determinate" value={{user.getProporcionalXP()}} matTooltip="{{user.experience}}/{{user.getXPtoNextLevel()}} puntos de experiencia"></mat-progress-bar>
    </div>
    <!-- <p>{{user.review_h3lper}}/{{user.review_h3lper.length}}</p>
    <p>{{user.review_normal}}/{{user.review_normal.length}}</p> -->
  </div>

  <div *ngIf="loaded && globalUser != undefined && user.h3lper">
    <button *ngIf="user.username == globalUser.username" mat-raised-button (click)="newService()">Crear Nuevo Servicio</button>
  </div>

  <div>
    <h1>Tus servicios: Solicitados</h1>
    <div class="solicitados">
      <div class="service" *ngFor="let service of services_solicitados">
        <app-card [add]="service"></app-card>
      </div>
    </div>

    <h1 *ngIf="user.h3lper">Tus servicios: Ofrecidos</h1>
    <div class="ofrecidos">
      <div class="service" *ngFor="let service of services_ofrecidos" matBadge="{{service.requests.length}}">
        <app-card [add]="service"></app-card>
      </div>
    </div>
    <h1>Tienda</h1>
  </div>


</div>

<div *ngIf="!loaded">
  <mat-spinner></mat-spinner>
</div>
