$primary-color: #002d6f;
$secundary-color: #4f9ae1;

$title-fontsize: 50px;

//Tamaño de los iconos
$icon-size: 25%;

// Padding por defecto de los elementos
$default-padding: 10px;

.main{
  display: flex;
  flex-direction: row;
  // justify-content: center;
  // align-items: center;
  position: relative;
}

.left_column{
  width: 60%;
  height: 100%;
  // background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right_column{
    // background-color: yellow;
    width: 40%;
    height: 1000px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    // align-items: center;
    // position: relative;
    // top:0;
    // right: 0;
}

.all{
  min-height: 80%;
}

// Clase para todo el componenete
.profile{
  height: auto;
}

.form{
  display: flex;
  flex-direction: column;
  // padding: 2%;
  justify-content: center;
  align-items: center;
  // width: 40%;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // margin-top: 2%;
}

.row_text{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2%;
  margin-left: 1%;
}

mat-form-field{
    margin: 2%;
}

button{
  background-color: $primary-color;
  color: white;
}

.text{
    font-size: 30px;
    font-weight: 500;
    color: $primary-color;
}

// Clase para los elemnetos del usuario
.userCard{
  width: 70%;
  border: 3px solid $primary-color;
  border-radius: 50px;
  position: relative;
  // right: 0;
  // margin-top: 5%;
  // margin-right: 15%;
  padding: $default-padding;
  //min-height: 250px;
  height: 40%;
}

.userHeader{
  width: 100%;
}
.username{
  text-align: center;
  position: absolute;
  top: 2%;
  left: $icon-size;
  width: 100% - $icon-size - 8%;
  padding: 20px;
  height: $title-fontsize + 30;
  font-size: $title-fontsize;
  overflow: hidden; /* make sure it hides the content that overflows */
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis; /* give the beautiful '...' effect */
}

// Clases para las distintas imágenes delñ perfil
.icon{
  width: 150px;
  max-height: 150px;
  padding: $default-padding;
}

.coin-img{
  width: $icon-size;
  height: auto;
  padding: $default-padding;
  width: $icon-size/3;
}

.h3lper-img{
  width: $icon-size;
  height: auto;
  padding: $default-padding;
  width: $icon-size/2;
}

.coins{
  position: absolute;
  top: 60px;
  width: 100;
  text-align: center;
}
.coins p{
  display: inline;
  position: absolute;
  top: 15px;
  font-size: $title-fontsize / 2;
}

.h3lper-img{
  position: absolute;
  left: 50%;
  top: 100px;
}

//Clase para el conjunto del nivel del usuario
.userLevel{
  display: inline-flex;
  width: 85%;
  padding-left: 15%;
  position: absolute;
  bottom: 20%;
}

.userLevel p{
  top: 5px;
  font-size: $title-fontsize / 2;
  position: absolute;
}

// Clase para la barra de progreso
.progressBar{
  margin-left: 5%;
  width: 50%;
  height: 25px;
  border-radius: 13px;
  left: 135px;
  position: absolute;
  //color: #002d6f;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: $primary-color;
}


::ng-deep .mat-progress-bar-buffer {
  background: aliceblue;
}



// Clase para los servicios de los anuncios
.service{
  width: 250px;
  margin-left: 5%;
  margin-bottom: 5%;
}

.ofrecidos{
  display: flex;
  flex-wrap: wrap;
  width: 55%;
}

.solicitados{
  @extend .ofrecidos;
}

.serviceMenu{
  font-size: 45px;
  margin-top: 3%;
  margin-bottom: 1%;
  font-weight: bold;
  color: $primary-color;
}

#new_service{
  margin-left: 10%;
}


.servicebutton{
  background-color: $primary-color;
  border-radius: 30px;
}
#buttonText{
  color: #FFFFFF;
  border-radius: 35px;
}

.no_services{
  color: grey;
  font-size: 12px;
  margin:1.5%;
  width: 100%;
}

#shop{
  margin-top : 5%;
}

.anuncio{
  border: 3px solid $primary-color;
  background-color: aliceblue;
  width: 240px;
  height: 280px;
  border-radius: 50px;
  position: relative;
  align-items: center;
  margin-bottom: 3%;
  margin-left: 5%;

}

.title_anuncio{
  position: absolute;
  top: 2%;
  left: 0;
  text-align: center;
  margin-right: 17%;
}

.precio_anuncio{
  position: absolute;
  // top: 20%;
  // left: 5%;
  bottom: 20%;
}

.boton_anuncio{
    position: absolute;
    bottom: 4%;
}

.anuncio h2{

  margin-left: 17%;
}


.anuncio h4{

  margin-left: 35%;
  height: 10%;
}

.anuncio button{

  margin-left: 35%;
  margin-bottom: 5%;
}

.coin-anun{
  width: 30%;
  height: auto;
  position: absolute;
  left: 35%;
  bottom: 40%;
}




















// https://fireship.io/lessons/star-ratings-system-with-firestore/


fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

// .rating > input:checked + label:hover,
// .rating > input:checked ~ label:hover,
// .rating > label:hover ~ input:checked ~ label,  selection
// .rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

// #############################################################################

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .contenedor-formulario {
    width: 400px;
  }

  .download {
    background: #1081ff;
    color: #FFFFFF;
    padding: 10px 20px;
    margin-bottom: 20px;
    a {
      text-decoration: underline;
      color: #FFFFFF;
    }
  }
}
